doctype html
html(lang="ru")
  head
    title Работы
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    link(rel="stylesheet", href="css/main.css")

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="https://moodle.innopolis.university/course/view.php?id=549")
        img(src="assets/logo.png", height="20", loading="lazy", alt="logo")

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="https://docs.google.com/spreadsheets/d/1wC3Is10HYfx4HUC4sVWZM2tW3__L7i_AnD2pxNmy0E4/edit#gid=0", target="_blank", rel="noopener noreferrer") Автодеплой
          li.nav-item
            a.nav-link(href="assets/lp_movie.psd") Макет
          li.nav-item
          a.nav-link(href="https://moodle.innopolis.university/course/view.php?id=549", target="_blank", rel="noopener noreferrer") Moodle
    .container
      .row
        .col
          .row
            h1 Ниже представлены работы студентов
          .row
            p Данная галерея обновляется автоматически после выполнения команды git push и попадания вашего код в git репозиторий указанный в списке 
              a(href="https://docs.google.com/spreadsheets/d/1wC3Is10HYfx4HUC4sVWZM2tW3__L7i_AnD2pxNmy0E4/edit#gid=0", target="_blank", rel="noopener noreferrer") автодеплой 
              span Убедитесь что вы правильно указали ссылку на ваш репозиторий. И как только напротив вашей строкки появляется надпись готово - всё готово. Ваша работа будет доступна в этой галерее и по соответствующей ссылке. 
              button.btn.btn-light(type="button", data-toggle="popover", data-title="Внимание", data-content="Интервал перекладки составляет около 10 минут.", data-placement="top") !

        - var s1 = { id: 1, name: "Aleksander Erashov",	rep: "https://github.com/AleksErv/cinema.git",	link: "/AleksErv" }
        - var s2 = { id: 2, name: "Aleksei Sirotiuk", rep:	"https://github.com/peso47/cinema.git", link: "/peso47" }
        - var s3 = { id: 3, name: "Alexander Rogozhnikov", rep:	"https://github.com/Alex-J21/cinema.git", link: "/alexj21" }
        - var s4 = { id: 4, name: "Almira Tolstova", rep:	"https://github.com/AlmiraTolstova/cinema.git", link: "/almira" }
        - var s5 = { id: 5, name: "Elina Khabibulina", rep:	"https://github.com/Elinalis/cinema.git", link: "/elina" }
        - var s6 = { id: 6, name: "Evgeniy Krivtsov", rep:	"https://github.com/MF-Rumata/cinema.git", link: "/rumata" }
        - var s7 = { id: 7, name: "Gulnaz Sakhapova", rep:	"https://github.com/GulnazaS/Cinema.git", link: "/gulnaz" }
        - var s8 = { id: 8, name: "Halim Latypov", rep:	"https://github.com/LatHalim/cinema.git", link: "/halim" }
        - var s9 = { id: 9, name: "Ignat Simonenko", rep:	"https://github.com/IgnatSimonenko/innopolis.git", link: "/ig" }
        - var s10 = { id: 10, name: "Mark Smagin", rep:	"https://github.com/MarkSmagin/cinema.git", link: "/dwolf" }
        - var s11 = { id: 11, name: "Pavel Trapeznikov", rep:	"https://github.com/thetrapeznikov/cinema.git", link: "/thetrapeznikov" }
        - var s12 = { id: 12, name: "Roman Buzmakov", rep:	"https://github.com/Romyl1990/cinema.git", link: "/romyl1990" }
        - var s13 = { id: 13, name: "Rustam Safiullin", rep:	"https://github.com/RustamStudy/WEB.git", link: "/rustam" }
        - var s14 = { id: 14, name: "Timofey Kataev", rep:	"https://github.com/Tkataev/Tkatae.git", link: "/tim23" }
        - var s15 = { id: 15, name: "Violetta Dubskaya", rep:	"https://github.com/ViolettaDO/cinema.git", link: "/vita22" }
        - var s16 = { id: 16, name: "Yuliya Suetnova", rep:	"https://github.com/juliyaAA/cinema.git", link: "/juliyaAA" }
        //- - var s17 = { id: 17, name: "Yuliya Slobozhanina", rep: "", link: "" }
        - var s18 = { id: 18, name: "Валерия Тихонова", rep:	"https://github.com/valeriya-tikhonova/cinema.git", link: "/valeriya_t" }
        - var s19 = { id: 19, name: "Рузиля Волкова", rep:	"https://github.com/Ruzylasha/Cinema_NEW.git", link: "/popcorn" }

      .row
        .col

      .row
        .col
          ul.accordion#students-works
            - var server = 'http://89.223.91.151:82'
            - var students = [s1, s2, s3, s4, s5, s6, s7, s8, s9, s10, s11, s12, s13, s14, s15, s16, /*s17,*/ s18, s19]
            each stud in students
              li.card
                .card-header( id='student-' + stud.id )
                  h2.mb-0
                    button.btn.btn-link.btn-block.text-left( type="button", data-toggle="collapse", data-target= '#body-' + stud.id, aria-expanded="false", aria-controls= 'body-' + stud.id)= stud.name
                .collapse( id='body-' + stud.id, aria-labelledby= 'student-' + stud.id, data-parent="#students-works" )
                  .card-body
                    a.btn.btn-primary.mb-4(href=server + stud.link, target="_blank", rel="noopener noreferrer") Перейти
                    .shadow.p-3.mb-5.bg-white.rounded
                      iframe.frame(src=server + stud.link, frameborder="0")

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    script(src="assets/main.js")